h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
a {
  font-family: 'Ubuntu', sans-serif;
  background-color: ;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
.ttl {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background: grey;
}
.a1 {
  border: 10px solid rgb(53, 97, 242);
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  border-radius: 12px;
  width: 75px;
}
.titlediv{
  background: grey solid;
  /* position: fixed;  
  so you keep seeing it constantly */
  border: 5px solid black;
}
