h2 {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
}
a {
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  }
.right {
  width: 86%;
  float: right;
}
.left {
  float: left;
}
.button {
  border: 4px solid rgb(53, 97, 242);
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  border-radius: 12px;
  width: 33.3%;
  height: 38px;
}
.titlediv {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /* position: fixed;  
  so you keep seeing it constantly */
  border: 5px solid white;
}
.otherdiv {
  background-color: #0D5B88;
  border: #0D5B88 solid 5px;
  border-radius: ;
  color: white;
}
.menudiv {
  position: sticky;
  background-color: #0D5B88;
  border: #0D5B88 2px solid;
  width: 100%;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.dropbtn {
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background-color: #0D5B88;
  border: black 2px solid;
}

.dropdown {
  position: fixed;
  display: inline-block;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 200px;
  z-index: 1;
  margin-top: 34px;
  font-size: 10px;
}

.dropdown-content a {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  background-color: white;
}

hr.solid {
  border-left: none;
  border-right: none;
  border-top: 1px solid #000000;
  border-bottom: none;
}

.show {
  display: block;
}
