h2 {
  font-family: 'Ubuntu', sans-serif;
  margin: 4px;
}
a {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #1A1B46;
}
p {
  font-family: 'Ubuntu', sans-serif;
  margin: 4px;
}
li { 
  list-style-type: "►"; 
  font-family: 'Ubuntu', sans-serif;
} 
.right {
  width: 80%;
  float: right;
}
.left {
  float: left;
  width: 20%;
}
.button {
  border: 4px solid rgb(53, 97, 242);
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  border-radius: 12px;
  width: 33.3%;
  height: 38px;
}
.titlediv {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /* position: fixed;  
  so you keep seeing it constantly */
  font-size: 40;
  /* display: inline-block */
  color: white;
}
.otherdiv {
  background-color: #1A1B46;
  border: #CDFFAC solid 5px;
  border-radius: ;
  color: white;
}
.menudiv {
  position: top;
  background-color: #98ff98;
  border: #427AA1 2px solid;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.dropbtn {
  cursor: pointer;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background-color: #1A1B46;
  border: #CDFFAC 2px solid;
}

.dropdown {
  display: inline-block;
  border: #CDFFAC 2px solid;
  background-color: #1A1B46;
  color: #CDFFAC;
}

.dropdown-content {
  display: none;
  background-color: #1A1B46;
  min-width: 200px;
  z-index: 1;
  margin-top: 34px;
  font-size: 10px;
}

.dropdown-content a {
  color: #CDFFAC;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px;
  text-decoration: none;
  display: block;
  background-color: #1A1B46;
}

.show {
  display: block;
}
.mainspan {
  background-color: #1A1B46;
  border: #1A1B46 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.license {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   font-family: 'Ubuntu', sans-serif;
   color: white;
   background-color: #3E409D;
   font-size: 9;
}
.meep {
   color: white;
}
